<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>本一覧</title>
    <style>
        table,tr,td{
          border: 1px solid lightgray;
        }

    </style>
</head>
<body>
<h1>本一覧</h1>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>名前</td>
        <td>著者</td>
        <td>ISBN</td>
        <td>カテゴリ</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}" th:object="${book}">
        <td th:text="*{id}">ID</td>
        <td th:text="*{name}">名前</td>
        <td th:text="*{author}"></td>
        <td th:text="*{isbn}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>